@font-face {
  font-family: 'pfdintextcondpro';
  src: url("../fonts/pfdintextcondpro-regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfdintextcondpro';
  src: url("../fonts/pfdintextcondpro-medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'pfdintextcondpro', sans-serif;
}

p {
  word-wrap: wrap;
}

div,
header,
section,
article,
footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 1170px;
  padding: 0 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 420px;
    padding: 0 10px;
  }
}

a {
  text-decoration: none;
  font-weight: 400;
  color: black;
}

h2 {
  background: url("../img/package-formbg.jpg");
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 25px 0;
  font-size: 35px;
  line-height: 45px;
  font-weight: normal;
  color: #fff;
  text-shadow: 2px 2px #000;
}

@media (max-width: 991px) {
  h2 {
    font-size: 30px;
    line-height: 35px;
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 26px;
    line-height: 26px;
    text-shadow: 1px 1px #000;
  }
}

section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

span.abzac {
  margin-left: 25px;
  display: inline-block;
}

@media (max-width: 767px) {
  .no-mobile {
    display: none;
  }
}

header {
  background-color: #fff;
}

header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 98px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

@media (max-width: 991px) {
  header .container {
    height: 98px;
  }
}

@media (max-width: 767px) {
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    text-align: center;
    height: auto;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

header .logo-box {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 767px) {
  header .logo-box {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

@media (max-width: 991px) {
  header .logo-box .logo {
    width: 200px;
    height: auto;
  }
}

@media (max-width: 767px) {
  header .logo-box .logo {
    width: auto;
    margin-bottom: 15px;
  }
}

header .callback {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 767px) {
  header .callback {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%;
  }
}

header .phone {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}

@media (max-width: 991px) {
  header .phone {
    font-size: 30px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  header .phone {
    font-size: 24px;
    line-height: 22px;
  }
}

header .wbh_btn {
  padding: 8px 15px;
  margin-left: 31px;
  border: 1px solid #e17814;
  border-radius: 5px;
  background-color: #ffa53d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa53d), color-stop(50%, #ff7c00));
  background: -webkit-linear-gradient(top, #ffa53d 50%, #ff7c00 50%);
  background: -o-linear-gradient(top, #ffa53d 50%, #ff7c00 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffa53d), color-stop(50%, #ff7c00));
  background: linear-gradient(to bottom, #ffa53d 50%, #ff7c00 50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 22px;
  font-weight: 500;
}

@media (max-width: 991px) {
  header .wbh_btn {
    font-size: 24px;
    padding: 10px 12px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  header .wbh_btn {
    font-size: 18px;
    line-height: 16px;
    padding: 7px;
    margin: 0;
  }
}

#home {
  background: url("../img/home_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 767px) {
  #home {
    padding: 0px 0 50px;
  }
}

#home .headbg {
  padding: 60px 0 75px;
  width: 100%;
  height: auto;
  margin-top: 7%;
  background-color: #fff;
  background: -webkit-gradient(linear, left, left, color-stop(0%, #fff), color-stop(100%, transparent));
  background: -webkit-linear-gradient(left, #fff 0%, transparent 100%);
  background: -o-linear-gradient(left, #fff 0%, transparent 100%);
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(transparent));
  background: linear-gradient(to right, #fff 0%, transparent 100%);
}

@media (max-width: 1199px) {
  #home .headbg {
    padding: 50px 0 60px;
  }
}

@media (max-width: 991px) {
  #home .headbg {
    padding: 40px 0 50px;
  }
}

@media (max-width: 767px) {
  #home .headbg {
    padding: 30px 0 35px;
  }
}

#home h1 {
  text-align: left;
  text-shadow: 2px 2px #fff;
  font-size: 70px;
  font-weight: 500;
  line-height: 80px;
  margin: 0;
}

@media (max-width: 1199px) {
  #home h1 {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 991px) {
  #home h1 {
    font-size: 50px;
    line-height: 55px;
  }
}

@media (max-width: 767px) {
  #home h1 {
    font-size: 25px;
    line-height: 26px;
  }
}

#home .titledesc {
  font-size: 30px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 45px;
  font-weight: 500;
}

@media (max-width: 1199px) {
  #home .titledesc {
    font-size: 26px;
    margin: 35px 0;
  }
}

@media (max-width: 991px) {
  #home .titledesc {
    font-size: 23px;
    margin: 30px 0 25px;
  }
}

@media (max-width: 767px) {
  #home .titledesc {
    font-size: 18px;
    margin: 15px 0;
  }
}

#home .text {
  margin: 0;
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

@media (max-width: 1199px) {
  #home .text {
    font-size: 23px;
  }
}

@media (max-width: 991px) {
  #home .text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  #home .text {
    font-size: 16px;
  }
}

#sostav {
  padding-bottom: 45px;
}

@media (max-width: 991px) {
  #sostav {
    padding-bottom: 25px;
  }
}

#sostav p {
  font-size: 22px;
}

@media (max-width: 991px) {
  #sostav p {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  #sostav p {
    font-size: 18px;
  }
}

#sostav p strong {
  font-weight: 500;
}

#sostav .title-bg {
  width: 100%;
  margin-bottom: 55px;
  padding: 27px 0 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  background: url("../img/sostav-titlebg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  #sostav .title-bg {
    margin-bottom: 35px;
  }
}

#sostav .title-bg p {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
  text-shadow: 2px 2px #000;
}

@media (max-width: 991px) {
  #sostav .title-bg p {
    margin: 20px 0 0;
  }
}

@media (max-width: 767px) {
  #sostav .title-bg p {
    font-size: 18px;
    text-shadow: 1px 1px #000;
  }
}

#sostav h2 {
  background: none;
  padding: 0;
  text-shadow: 2px 2px #000;
}

@media (max-width: 767px) {
  #sostav h2 {
    text-shadow: 1px 1px #000;
  }
}

#sostav .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sostav .content {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1199px) {
  #sostav .content {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  #sostav .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#sostav .text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sostav article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
  text-align: left;
}

@media (max-width: 767px) {
  #sostav article {
    text-align: center;
    margin-bottom: 25px;
  }
}

#sostav article h3 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
}

@media (max-width: 991px) {
  #sostav article h3 {
    font-size: 28px;
    line-height: 25px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  #sostav article h3 {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}

#sostav article p {
  margin: 0;
}

@media (max-width: 767px) {
  #sostav article p {
    width: 100%;
  }
}

#sostav img {
  width: 100%;
  height: auto;
  margin-top: 53px;
}

@media (max-width: 1199px) {
  #sostav img {
    width: 500px;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  #sostav img {
    width: 350px;
  }
}

@media (max-width: 767px) {
  #sostav img {
    width: 100%;
  }
}

#flextype {
  padding-bottom: 100px;
}

@media (max-width: 991px) {
  #flextype {
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  #flextype {
    padding-bottom: 10px;
  }
}

#flextype .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 70px;
}

@media (max-width: 991px) {
  #flextype .container {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  #flextype .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
}

#flextype article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #flextype article {
    margin-bottom: 20px;
  }
}

@media (max-width: 1191px) {
  #flextype img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  #flextype img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #flextype img {
    width: auto;
    max-width: 100%;
  }
}

#flextype p {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 0;
  color: #333;
}

@media (max-width: 767px) {
  #flextype p {
    font-size: 18px;
    margin-top: 8px;
  }
}

#production {
  padding-bottom: 80px;
  background: url("../img/productbg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

@media (max-width: 991px) {
  #production {
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  #production {
    padding-bottom: 10px;
  }
}

#production .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  #production .container {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  #production .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#production article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #production article {
    margin-bottom: 20px;
  }
}

@media (max-width: 1199px) {
  #production img {
    width: 90%;
  }
}

@media (max-width: 767px) {
  #production img {
    width: auto;
    max-width: 100%;
  }
}

#production p {
  font-size: 22px;
  margin-top: 12px;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  #production p {
    font-size: 20px;
  }
}

#usage {
  padding-bottom: 45px;
}

@media (max-width: 991px) {
  #usage {
    padding-bottom: 40px;
  }
}

#usage .content {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 79px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199px) {
  #usage .content {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 991px) {
  #usage .content {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  #usage .content {
    margin-top: 20px;
  }
}

#usage .text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 460px;
  text-align: left;
}

@media (max-width: 991px) {
  #usage .text {
    max-width: 100%;
  }
}

#usage .text p {
  margin: 0 0 35px;
  font-size: 22px;
}

#usage .text p:last-child {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  #usage .text p {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  #usage .text p {
    font-size: 18px;
  }
}

#usage img {
  height: auto;
}

@media (max-width: 1199px) {
  #usage img {
    max-width: 500px;
  }
}

@media (max-width: 991px) {
  #usage img {
    max-width: 100%;
  }
}

#usingalso {
  padding-bottom: 80px;
  background: url("../img/usingalsobg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

@media (max-width: 991px) {
  #usingalso {
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  #usingalso {
    padding-bottom: 30px;
  }
}

#usingalso h2 {
  background: none;
  color: #000;
  text-shadow: none;
}

@media (max-width: 767px) {
  #usingalso h2 {
    text-shadow: none;
  }
}

#usingalso .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  #usingalso .container {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  #usingalso .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#usingalso article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 345px;
}

@media (max-width: 1199px) {
  #usingalso article {
    max-width: 308px;
  }
}

@media (max-width: 767px) {
  #usingalso article {
    margin-bottom: 20px;
  }
}

@media (max-width: 1199px) {
  #usingalso img {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 767px) {
  #usingalso img {
    max-width: 100%;
  }
}

#usingalso p {
  font-size: 22px;
  margin-top: 12px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  #usingalso p {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  #usingalso p {
    font-size: 20px;
  }
}

#usingalso .textcontainer {
  margin-top: 60px;
  text-align: left;
}

@media (max-width: 767px) {
  #usingalso .textcontainer {
    text-align: center;
    margin-top: 20px;
  }
}

#usingalso .textcontainer p {
  margin-top: 0;
}

#optimal {
  padding-bottom: 50px;
  background: url("../img/optimalbg.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
}

@media (max-width: 767px) {
  #optimal {
    padding-bottom: 40px;
  }
}

#optimal h2,
#optimal h3 {
  background: transparent;
  color: #ffcd00;
  text-shadow: none;
}

@media (max-width: 767px) {
  #optimal h2,
  #optimal h3 {
    text-shadow: none;
  }
}

#optimal h2 strong,
#optimal h3 strong {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#optimal .container {
  text-align: center;
}

#optimal p.desc {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 24px;
}

@media (max-width: 991px) {
  #optimal p.desc {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  #optimal p.desc {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#optimal h3 {
  font-size: 30px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  #optimal h3 {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  #optimal h3 {
    font-size: 22px;
  }
}

#optimal article {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#optimal article .text p {
  text-align: left;
  font-size: 22px;
}

@media (max-width: 1199px) {
  #optimal article .text p {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  #optimal article .text p {
    font-size: 18px;
  }
}

#optimal article img {
  width: auto;
  height: auto;
}

#optimal article.bigimg {
  margin-top: 40px;
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  #optimal article.bigimg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  #optimal article.bigimg {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

#optimal article.bigimg .text p {
  max-width: 508px;
}

@media (max-width: 1199px) {
  #optimal article.bigimg .text p {
    max-width: 450px;
  }
}

#optimal article.bigimg .img {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  #optimal article.bigimg .img {
    max-width: 450px;
  }
}

@media (max-width: 1199px) {
  #optimal article.bigimg .img img {
    width: 100%;
    height: auto;
  }
}

#optimal article.smallimg {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  #optimal article.smallimg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 30px;
  }
}

#optimal article.smallimg .text p {
  max-width: 695px;
}

@media (max-width: 1199px) {
  #optimal article.smallimg .text p {
    max-width: 600px;
  }
}

#optimal article.smallimg .img {
  min-width: 257px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#optimal article.smallimg .img img {
  max-height: 155px;
  max-width: 200px;
  height: auto;
  width: auto;
}

@media (max-width: 767px) {
  #optimal article.smallimg .img img {
    max-height: 155px;
  }
}

#optimal .priceblock {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

#optimal .priceblock .text {
  font-size: 22px;
  margin: 0 0 10px;
}

@media (max-width: 991px) {
  #optimal .priceblock .text {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  #optimal .priceblock .text {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

#optimal .priceblock .price,
#optimal .priceblock .days {
  margin: 30px 0 0;
  padding-left: 30px;
  font-size: 35px;
  color: #ffcd00;
}

@media (max-width: 991px) {
  #optimal .priceblock .price,
  #optimal .priceblock .days {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  #optimal .priceblock .price,
  #optimal .priceblock .days {
    font-size: 22px;
    margin-top: 20px;
    padding-left: 0px;
  }
}

#optimal .priceblock .price strong {
  font-size: 37px;
}

@media (max-width: 991px) {
  #optimal .priceblock .price strong {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  #optimal .priceblock .price strong {
    font-size: 22px;
  }
}

#optimalfb,
#maximumfb {
  padding: 40px 0 80px;
  background: url("../img/package-formbg.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
}

@media (max-width: 991px) {
  #optimalfb,
  #maximumfb {
    padding: 30px 0 60px;
  }
}

@media (max-width: 767px) {
  #optimalfb,
  #maximumfb {
    padding-bottom: 40px;
  }
}

#optimalfb h2,
#maximumfb h2 {
  margin: 0 0 26px;
  padding: 0;
  background: none;
  text-shadow: 2px 2px #000;
}

#optimalfb p.desc,
#maximumfb p.desc {
  margin: 0;
  text-shadow: 2px 2px #000;
  font-size: 26px;
  font-weight: 500;
}

@media (max-width: 991px) {
  #optimalfb p.desc,
  #maximumfb p.desc {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  #optimalfb p.desc,
  #maximumfb p.desc {
    font-size: 20px;
  }
}

#optimalfb form,
#maximumfb form {
  margin-top: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  #optimalfb form,
  #maximumfb form {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  #optimalfb form,
  #maximumfb form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#optimalfb form input,
#maximumfb form input {
  width: 258px;
  border: none;
  color: #000;
  background-color: #fff;
  font-size: 24px;
  padding: 7px 30px;
  border-radius: 8px;
  margin-right: 33px;
}

@media (max-width: 991px) {
  #optimalfb form input,
  #maximumfb form input {
    width: 200px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  #optimalfb form input,
  #maximumfb form input {
    width: 90%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

#optimalfb form button,
#maximumfb form button {
  padding: 10px 12px;
  border: 1px solid #e17814;
  border-radius: 5px;
  background-color: #ffa53d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa53d), color-stop(50%, #ff7c00));
  background: -webkit-linear-gradient(top, #ffa53d 50%, #ff7c00 50%);
  background: -o-linear-gradient(top, #ffa53d 50%, #ff7c00 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffa53d), color-stop(50%, #ff7c00));
  background: linear-gradient(to bottom, #ffa53d 50%, #ff7c00 50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #000;
  line-height: 24px;
  font-weight: 500;
  margin-left: 60px;
}

@media (max-width: 991px) {
  #optimalfb form button,
  #maximumfb form button {
    font-size: 20px;
    padding: 10px 12px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  #optimalfb form button,
  #maximumfb form button {
    font-size: 22px;
    line-height: 20px;
    margin-left: 0;
    padding: 7px;
    margin: 0;
  }
}

#maximum {
  padding-bottom: 66px;
  background: url("../img/maximumbg.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
}

@media (max-width: 767px) {
  #maximum {
    padding-bottom: 40px;
  }
}

#maximum h2,
#maximum h3 {
  background: transparent;
  color: #ffcd00;
  text-shadow: none;
}

@media (max-width: 767px) {
  #maximum h2,
  #maximum h3 {
    text-shadow: none;
  }
}

#maximum h2 strong,
#maximum h3 strong {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#maximum .container {
  text-align: left;
}

#maximum p.desc {
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 24px;
}

@media (max-width: 1191px) {
  #maximum p.desc {
    font-size: 22px;
  }
}

@media (max-width: 991px) {
  #maximum p.desc {
    font-size: 20px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  #maximum p.desc {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#maximum h3 {
  font-size: 30px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;
}

@media (max-width: 1191px) {
  #maximum h3 {
    font-size: 26px;
  }
}

@media (max-width: 991px) {
  #maximum h3 {
    font-size: 22px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  #maximum h3 {
    font-size: 20px;
  }
}

#maximum article {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 70px;
}

@media (max-width: 991px) {
  #maximum article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  #maximum article {
    margin-bottom: 20px;
  }
}

#maximum article .text {
  max-width: 500px;
}

@media (max-width: 1199px) {
  #maximum article .text {
    max-width: 450px;
  }
}

@media (max-width: 991px) {
  #maximum article .text {
    max-width: 100%;
  }
}

#maximum article .text p {
  text-align: left;
  font-size: 22px;
}

@media (max-width: 1199px) {
  #maximum article .text p {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  #maximum article .text p {
    font-size: 18px;
  }
}

#maximum article .img {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 550px;
}

@media (max-width: 1199px) {
  #maximum article .img {
    width: 450px;
  }
}

@media (max-width: 991px) {
  #maximum article .img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%;
  }
}

#maximum article .img img {
  height: auto;
  max-width: 450px;
}

@media (max-width: 1199px) {
  #maximum article .img img {
    max-width: 450px;
  }
}

@media (max-width: 991px) {
  #maximum article .img img {
    width: 300px;
    height: auto;
  }
}

#maximum .priceblock {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

#maximum .priceblock .text {
  font-size: 22px;
  margin: 0 0 35px;
}

@media (max-width: 1191px) {
  #maximum .priceblock .text {
    font-size: 22px;
  }
}

@media (max-width: 991px) {
  #maximum .priceblock .text {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  #maximum .priceblock .text {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

#maximum .priceblock .price,
#maximum .priceblock .days {
  margin: 30px 0 0;
  padding-left: 30px;
  font-size: 35px;
  color: #ffcd00;
}

@media (max-width: 991px) {
  #maximum .priceblock .price,
  #maximum .priceblock .days {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  #maximum .priceblock .price,
  #maximum .priceblock .days {
    font-size: 22px;
    margin-top: 20px;
    padding-left: 0px;
  }
}

#maximum .priceblock .price strong {
  font-size: 37px;
}

@media (max-width: 991px) {
  #maximum .priceblock .price strong {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  #maximum .priceblock .price strong {
    font-size: 22px;
  }
}

#working {
  padding-bottom: 95px;
}

@media (max-width: 991px) {
  #working {
    padding-bottom: 60px;
  }
}

#working h2 {
  background: #f4f5f7;
  color: #000;
  text-shadow: none;
}

@media (max-width: 767px) {
  #working h2 {
    text-shadow: none;
  }
}

#working .listblock {
  margin-top: 65px;
  margin-bottom: 90px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  #working .listblock {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  #working .listblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
}

#working .listblock .left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  width: 100%;
}

#working .listblock .left h3 {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: normal;
}

@media (max-width: 991px) {
  #working .listblock .left h3 {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  #working .listblock .left h3 {
    margin-bottom: 10px;
  }
}

#working .listblock .left ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

@media (max-width: 991px) {
  #working .listblock .left ul {
    padding-left: 15px;
  }
}

@media (max-width: 767px) {
  #working .listblock .left ul {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

#working .listblock .left ul li {
  font-size: 24px;
}

@media (max-width: 991px) {
  #working .listblock .left ul li {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  #working .listblock .left ul li {
    font-size: 22px;
  }
}

@media (max-width: 1191px) {
  #working .listblock img {
    width: 400px;
    height: auto;
  }
}

@media (max-width: 991px) {
  #working .listblock img {
    width: 320px;
    height: auto;
  }
}

#working p {
  margin: 0;
  font-size: 22px;
}

@media (max-width: 991px) {
  #working p {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  #working p {
    font-size: 18px;
  }
}

#working .imgblock {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  #working .imgblock {
    margin: 30px 0;
  }
}

@media (max-width: 767px) {
  #working .imgblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1191px) {
  #working .imgblock img {
    width: 450px;
    height: auto;
  }
}

@media (max-width: 991px) {
  #working .imgblock img {
    width: 350px;
  }
}

@media (max-width: 767px) {
  #working .imgblock img {
    width: 100%;
    margin-bottom: 20px;
  }
}

#working p.bottom {
  font-size: 24px;
}

@media (max-width: 991px) {
  #working p.bottom {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  #working p.bottom {
    font-size: 20px;
  }
}

#feedback {
  padding: 107px 0 200px;
  background: url("../img/feedbackbg.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
}

@media (max-width: 1191px) {
  #feedback {
    padding: 80px 0 160px;
  }
}

@media (max-width: 991px) {
  #feedback {
    padding: 60px 0 120px;
  }
}

@media (max-width: 767px) {
  #feedback {
    padding: 40px 0 80px;
  }
}

#feedback h2 {
  margin: 0 0 52px;
  padding: 0;
  background: none;
  text-shadow: 2px 2px #000;
  font-size: 65px;
  font-weight: 500;
  line-height: 80px;
  text-align: left;
}

@media (max-width: 1191px) {
  #feedback h2 {
    font-size: 65px;
    line-height: 65px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  #feedback h2 {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  #feedback h2 {
    font-size: 45px;
    margin-bottom: 20px;
  }
}

#feedback p.desc {
  margin: 0;
  text-shadow: 2px 2px #000;
  font-size: 40px;
  line-height: 40px;
  text-align: left;
}

@media (max-width: 1191px) {
  #feedback p.desc {
    font-size: 45px;
    line-height: 42px;
  }
}

@media (max-width: 991px) {
  #feedback p.desc {
    font-size: 32px;
    line-height: 32px;
  }
}

@media (max-width: 767px) {
  #feedback p.desc {
    font-size: 26px;
    line-height: 26px;
  }
}

#feedback form {
  margin-top: 98px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

@media (max-width: 1191px) {
  #feedback form {
    margin-top: 80px;
  }
}

@media (max-width: 991px) {
  #feedback form {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  #feedback form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#feedback form input {
  width: 258px;
  border: none;
  color: #000;
  background-color: #fff;
  font-size: 24px;
  padding: 7px 30px;
  border-radius: 8px;
}

@media (max-width: 991px) {
  #feedback form input {
    width: 200px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  #feedback form input {
    width: 90%;
    margin-bottom: 20px;
  }
}

#feedback form button {
  padding: 10px 12px;
  border: 1px solid #e17814;
  border-radius: 5px;
  background-color: #ffa53d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa53d), color-stop(50%, #ff7c00));
  background: -webkit-linear-gradient(top, #ffa53d 50%, #ff7c00 50%);
  background: -o-linear-gradient(top, #ffa53d 50%, #ff7c00 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffa53d), color-stop(50%, #ff7c00));
  background: linear-gradient(to bottom, #ffa53d 50%, #ff7c00 50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #000;
  line-height: 24px;
  font-weight: 500;
}

@media (max-width: 991px) {
  #feedback form button {
    font-size: 20px;
    padding: 10px 12px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  #feedback form button {
    font-size: 22px;
    line-height: 20px;
    padding: 7px;
    margin: 0;
  }
}

footer {
  background: url("../img/footerbg.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding: 20px 10px 15px;
}

@media (max-width: 767px) {
  footer {
    padding-bottom: 10px;
  }
}

footer .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .logo,
footer .leadmarketing {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  footer .logo,
  footer .leadmarketing {
    width: 300px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .logo p,
footer .leadmarketing p {
  margin: 5px 0;
}

@media (max-width: 767px) {
  footer .logo img {
    width: 200px;
    height: auto;
  }
}

footer .logo p {
  font-size: 22px;
  color: #e3e1e1;
}

@media (max-width: 767px) {
  footer .logo p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  footer .leadmarketing {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  footer .leadmarketing img {
    width: 100px;
    height: auto;
    margin-left: 20px;
  }
}

footer .leadmarketing p {
  color: #fff;
  font-size: 25px;
}

@media (max-width: 767px) {
  footer .leadmarketing p {
    font-size: 18px;
  }
}

#modalthanks {
  position: fixed;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
}

#modalthanks p {
  margin: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 310px;
  text-align: center;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #f4f5f7;
}